<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h1>Data Sharing</h1>
            </div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Component A</h3>
                    </div>
                    <div class="card-body" id="componentA" style="min-height: 250px; max-width: 100%;">
                        <div class="chart">
                            Component A
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Component B</h3>
                    </div>
                    <div class="card-body" id="componentB" style="min-height: 250px; max-width: 100%;">
                        <div class="chart">
                            Component B
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>