<!-- <div> -->
<div class="card-header">
  <h3 class="card-title pt-1 mb-0">Data Detail Component (Child)</h3>
</div>
<div class="card-body">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="data">Contact Details</label>
        <input
          class="form-control"
          #contact
          type="text"
          placeholder="Update Contact Comp"
        />
      </div>
      <button class="btn btn-primary" (click)="updateContact(contact)">
        Update Contact
      </button>
    </form>
  </div>
  <div class="col-md-12 mt-4">
    <div class="row">
      <div class="col-md-6">
        <label for="">Data From Parent :</label>
        <div>{{ dataFromParent }}</div>
      </div>
      <div class="col-md-6">
        <label for="">Static Data of Parent :</label>
        <div>
          {{ msgFromParent }}
        </div>
      </div>
      <div class="col-md-6 mt-1">
        <label>Counter of Child : {{ counter ? counter : "NA" }}</label>
      </div>
      <div class="col-md-6 mt-1">
        <label>Contact Number of Child : {{ contactNum ? contactNum : "NA" }}</label>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="clearOrSetParent(true)">
          Clear Parent
        </button>
        </div>
        <div class="col-md-4">
        <button class="btn btn-primary" (click)="clearOrSetParent(false)">
          Set Default
        </button>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
