<section class="content" style="padding-bottom: 3rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h1>Pipes</h1>
            </div>
            <div class="col-md-4">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Date Pipe</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 150px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Uppercase Pipe</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 150px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Lowercase Pipe</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 150px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Currency Pipe</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 150px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Decimal Pipe</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 150px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Parent Pipe</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 150px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>