<!-- <div class="container"> -->
    <!-- <div class="row"> -->
        <form class="form-group">
            <div class="form-group">
                <label for="searchText">Search By Name</label>
                <input
                class="form-control"
                [(ngModel)]="searchText"
                type="text"
                placeholder="Enter Name To Search"
                (ngModelChange)="searchInEmp()"
                id="searchText"
                name="searchText"
                />
            </div>
        </form>
    <!-- </div> -->
<!-- </div> -->
