<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body id="main">
    <!-- Slide Show -->
    <section class="d-flex justify-content-center">
      <img
        class="img col-10 mt-4"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4a1cVtOXPeRvtOiglZO5AV9PC_NNm4jtl8g&usqp=CAU"
      />
    </section>
    <section class="center-container p-5 w-100">
      
      <p class="opacity">
        Gemini Solutions is an IT Consulting and Product Development firm. Our services provide clients with a flexibility to choose from an array of automation and application development solutions as well as giving them an option to choose from outsourcing, onshore or offshore engagement models. Gemini offers several management services and is able to combine our range of services to suit a diverse range of needs.

          We cater to the diversified portfolio of clients across sectors such as banking & financial services, retail, healthcare, education and government sector. We are proud to say that we have a well-structured IT community that has been handpicked from the best colleges across India who keep abreast with today’s rapidly changing and ever-evolving technological advancements.
          
          We strive to continuously provide customizable, affordable and quality products & services to our patrons through our creative & skilled teams who demonstrate an inherent agility towards projects.
        
      </p>
    </section>
    <mat-divider></mat-divider>
    <!-- <div>
      <button class="ml-5 btn btn-success" type="button" (click)="routeBtn()">
        Employee Details
      </button>
    </div> -->
  </body>
</html>
