<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body id="main">
    <!-- Slide Show -->
    <section>
      <img
        class="img"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4a1cVtOXPeRvtOiglZO5AV9PC_NNm4jtl8g&usqp=CAU"
        style="width: 80%"
      />
    </section>
    <section class="center-container" style="max-width: 600px">
      <h2 class="wide">About Us</h2>
      <p class="opacity">
        <i
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta
          minus molestiae vel beatae natus eveniet ratione temporibus aperiam
          harum alias officiis assumenda officia quibusdam deleniti eos
          cupiditate dolore doloribus! Ad dolore dignissimos asperiores dicta
          facere optio quod commodi nam tempore recusandae. Rerum sed nulla eum
          vero expedita ex delectus voluptates rem at neque quos facere sequi
          unde optio aliquam! Tenetur quod quidem in voluptatem corporis dolorum
          dicta sit pariatur porro quaerat autem ipsam odit quam beatae tempora
          quibusdam illum! Modi velit odio nam nulla unde amet odit pariatur at!
          Consequatur rerum amet fuga expedita sunt et tempora saepe? Iusto
          nihil explicabo perferendis quos provident delectus ducimus
          necessitatibus reiciendis optio tempora unde earum doloremque commodi
          laudantium ad nulla vel odio?</i
        >
      </p>
    </section>
    <button type="button" (click)="routeBtn()">Employee Details</button>
  </body>
</html>
