<section class="content" style="padding-bottom: 3rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h1>Error Pages</h1>
            </div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Error 404 : Not Found</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 250px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Error 400</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 250px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Error 502 : Bad Gateway</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 250px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title pt-1 mb-0">Other Errors</h3>
                    </div>
                    <div class="card-body row" id="componentLoader" style="min-height: 250px; max-width: 100%;">
                        <div class="chart col-6">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>